___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas.**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv', sep=',', header=0, 
                  index_col='Id', encoding='utf-8',
                  dtype={'BasePay':float,'OvertimePay':float,'OtherPay':float,
                         'Benefits':float,'TotalPay':float,'TotalPayBenefits':float,
                         'EmployeeName':str,'JobTitle':str, 'Notes':str,'Agency':str,'Status':str,
                         'Year':int})

**Check the head of the DataFrame. **

In [3]:
sal.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [4]:
sal.info() # 148,654 Entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148654 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int32
 9   Notes             0 non-null       object
 10  Agency            148654 non-null  object
 11  Status            0 non-null       object
dtypes: float64(6), int32(1), object(5)
memory usage: 14.2+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

**What is the highest amount of OvertimePay in the dataset?**

In [6]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [7]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

Id
25    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

Id
25    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [21]:
sal.nlargest(1, 'TotalPayBenefits')[['EmployeeName', 'TotalPayBenefits']]

      EmployeeName  TotalPayBenefits
Id
1   NATHANIEL FORD         567595.43

or

In [22]:
sal.sort_values(by='TotalPayBenefits', ascending=False).iloc[0][['EmployeeName', 'TotalPayBenefits']]

EmployeeName        NATHANIEL FORD
TotalPayBenefits         567595.43
Name: 1, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [26]:
sal.loc[sal['TotalPayBenefits'].idxmin()][['EmployeeName', 'TotalPayBenefits']] # Negative pay?!

EmployeeName        Joe Lopez
TotalPayBenefits      -618.13
Name: 148654, dtype: object

or

In [30]:
sal.iloc[sal['TotalPayBenefits'].argmin()][['EmployeeName', 'TotalPayBenefits']]

EmployeeName        Joe Lopez
TotalPayBenefits      -618.13
Name: 148654, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [31]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [32]:
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [33]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

**How many people have the word Chief in their job title?**

In [46]:
def has_chief(title:str) -> bool:
    """Returns True if the word 'chief' is in the string"""
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [47]:
sum(sal['JobTitle'].apply(lambda x: has_chief(x)))

477

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [45]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['title_len', 'TotalPayBenefits']].corr() #Almost No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!